# Ignore vscode
.vscode/
.history/

# Windows
Thumbs.db
Desktop.ini

# Things Python
.venv/
.mypy_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# QT / QML
.qmlcache/
.qmake.stash
*.qmlc

#  Build files
build/
dist/
*.spec

# Logs / Temp files
*.log
*.temp
*.bak
*.tmp

# Secrets / Config
.env
.env.local
secrets.json
config.json

# Data Base
*.sqlite
*.sqlite3